body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h2, h3 {
    color: #333;
}

input[type="text"], input[type="password"], input[type="range"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin: 10px;
}

input[type="button"], button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

input[type="button"]:hover, button:hover {
    background-color: #0056b3;
}

#RGB_values input[type="range"] {
    width: 80%;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 #WiFiConnect,#Temperature_NTC,#OTA,#ONOFF_UART,#TOOGLE_LED,#wifi_config {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.top-right { 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    text-align: right; 
    background: white; 
    padding: 10px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.top-right p { margin: 5px 0; font-size: 18px; }

.time-container {
    text-align: center;
    background-color: #a19b9b;
    color: #000000;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(3, 0, 0, 0.97);
}

.time-title {
    font-size: 18px;
    font-weight: bold;
}

.time-display {
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
}

.password-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre el campo y el checkbox */
}
.show-pass {
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px; /* Ajusta según el diseño */
}







